---
const steps = [
  {
    title: "Techtouch, Inc.",
    duration: "2018/4 ~ Now",
    description:
      "1人目の社員として入社し、フロントエンドエンジニアとしてSaaS開発をリード。TypeScript, Reactを使ったUI開発の他、顧客によってバージョンを切り替える仕組みなどフロントエンド領域でサービスの信頼性を高めるための開発を担当。",
  },
  {
    title: "Sony Digital Network Applications, Inc.",
    duration: "2015/4 ~ 2018/3",
    description:
      "Webアプリケーション開発を取り扱う部署を志望し、複数プロジェクトでの開発を経験。Java, C#, Ruby, JavaScriptを使用。",
  },
]
---

<div class="px-6 py-4" style="min-height: 300px;">
  <dl>
    <dt class="text-brand-accent text-2xl font-bold mb-4">Job History</dt>
    <dd>
      <ol class="relative border-l border-gray-700" style="min-height: 300px;">
        {
          steps.map((step) => (
            <li class="mb-10 ml-6">
              <span class="absolute flex items-center justify-center w-6 h-6 bg-brand-dark-teal rounded-full -left-3 ring-4 ring-gray-900">
                <svg
                  class="w-3 h-3 text-brand-accent"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                >
                  <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM10 15a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm1-4a1 1 0 0 1-2 0V6a1 1 0 0 1 2 0v5Z" />
                </svg>
              </span>
              <h3 class="font-bold text-white">{step.title}</h3>
              <time class="text-sm text-gray-400">{step.duration}</time>
              <p class="mt-2 text-white text-sm leading-relaxed">
                {step.description}
              </p>
            </li>
          ))
        }
      </ol>
    </dd>
  </dl>
</div>
