html {
  background: #040D12;
}
body {
  height: 100%;
  min-height: 100vh;
}
html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

h2 {
  margin-top: 2rem;
}

h3 {
  margin-top: 1.5rem;
}

p, li {
  line-height: 1.5;
}

code:not([class]) {
  color: rgb(227, 101, 101) ;
}

hr {
  border: none;
  border-bottom: 0.5px solid #aaa;
}

blockquote {
  border-left: 2px solid gray;
  padding-left: 12px;
  margin-left: 0;
}